@font-face{
font-family:"DINNextLTPro-BlackCondensed";
src:url("Fonts/DINNextLTPro-BlackCondensed.otf");
}
@font-face{
font-family:"DINNextLTPro-BoldCondensed";
src:url("Fonts/DINNextLTPro-BoldCondensed.otf");
}
@font-face{
font-family:"DINNextLTPro-Condensed";
src:url("Fonts/DINNextLTPro-Condensed.otf");
}
@font-face{
font-family:"DINNextLTPro-HeavyCondensed";
src:url("Fonts/DINNextLTPro-HeavyCondensed.otf");
}
@font-face{
font-family:"DINNextLTPro-LightCondensed";
src:url("Fonts/DINNextLTPro-LightCondensed.otf");
}
@font-face{
font-family:"DINNextLTPro-MediumCond";
src:url("Fonts/DINNextLTPro-MediumCond.otf");
}
@font-face{
font-family:"DINNextLTPro-UltraLightCond";
src:url("Fonts/DINNextLTPro-UltraLightCond.otf");
}