/* VARIABLES DE COLOR - fondo */
.fondo-azul{
    background-color: #50FFFF;
}

.fondo-rojo{
    background-color: #FF0000;
}

.fondo-negro {
    background-color: black;
}

.fondo-blanco {
    background-color: white;
}

/* VARIABLES DE COLOR - letra */
.text-azul{
    color: #50FFFF;
}

.text-rojo{
    color: #FF0000;
}

.text-negro {
    color: black;
}


/*--- GENERALES ---*/

a{
    color: black;
}

a:hover{
    color: #FF0000;
}

/*--- GENERALES ---*/


/* INICIO - VIEW 1 */

    /*nav*/
div.navbar-header.row > img {
    width: 15%;
}
    /*nav*/

.margin-top-nav{
    margin-top: 8%;
}

div.row.row-margin-bottom{
    border: 1px solid black;
    border-radius: 5px;
}

.marging-vw-uno-search-bottom{
    margin-bottom: 2%;
}

.marging-vw-uno-search-top{
    margin-top: 2%;
}

.marging-vw-uno-search-top-img{
    margin-top: 4.5%;
}

div.col-md-3.marging-vw-uno-search-top-img > img {
    opacity: 0.8;
    filter: alpha(opacity=50);
}

div.col-md-3.marging-vw-uno-search-top-img > img:hover {
    opacity: 1;
    filter: alpha(opacity=50);
}

.margin-vw1-tarjeta{
    margin-bottom: 2%;
    padding-bottom: 2%;
}

div.row.row-margin-bottom.margin-vw1-tarjeta:hover{
    cursor: pointer;
    
}

/* FIN - VIEW 1 */


/* INICIO - VIEW 2 */

.margin-vw2-margin-nav{
    margin-top: 8%;
}

/* FIN - VIEW 2 */


/* INICIO - VIEW 3 */
.padding-vw3-radio{
    padding-top: 3%;
}

.checkbox, .radio {
    margin-top: 0;
}

.checkbox+.checkbox, .radio+.radio {
    margin-top: 0;
}
div#mapa > img{
    width: 100%;
}

.img-ocultas{
    display: none;
}

/* FIN - VIEW 3 */

/*INICIO - SPLASH*/
.logo{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
/*FIN - SPLASH*/
/*INICIO-DETALLES*/
.img-detalle{
  width: 100%;
  height: 15em;
}

.input-img{
  color:#fff;
}
/*FIN_DETALLES*/
