/* INICIO - VIEW 1 */

.marging-vw-uno-search-bottom{
    margin-bottom: 4%;
}

.marging-vw-uno-search-top{
    margin-top: 2%;
}

.marging-vw-uno-search-top-img{
    margin-top: 4.5%;
}

/* FIN - VIEW 1 */

/*INICIO - SPLASH*/
.logo{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
/*FIN - SPLASH*/
