/* VARIABLES DE COLOR - fondo */
.fondo-azul{
    background-color: #50FFFF;
}

.fondo-rojo{
    background-color: #FF0000;
}

.fondo-negro {
    background-color: black;
}

.fondo-blanco {
    background-color: white;
}

/* VARIABLES DE COLOR - letra */
.text-azul{
    color: #50FFFF;
}

.text-rojo{
    color: #FF0000;
}

.text-negro {
    color: black;
}


/*--- GENERALES ---*/

body{
    font-family: "Lucida Console", Monaco, monospace;
}

a{
    color: #FF0000;
}

/*--- GENERALES ---*/


/* INICIO - VIEW 1 */

    /*nav*/
div.navbar-header.row > img {
    width: 15%;
}
    /*nav*/

.marging-vw-uno-search-bottom{
    margin-bottom: 4%;
}

.marging-vw-uno-search-top{
    margin-top: 2%;
}

.marging-vw-uno-search-top-img{
    margin-top: 4.5%;
}

/* FIN - VIEW 1 */

/*INICIO - SPLASH*/
.logo{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
/*FIN - SPLASH*/
