<!DOCTYPE html>
<html>

<head>
	<title>Registro CowDf</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	<link rel="stylesheet" href="../assets/css/main.css">
	<link rel="stylesheet" href="../assets/css/fonts.css">
</head>

<body>
	<nav class="navbar navbar-default fondo-negro">
		<div class="container">
			<div class="navbar-header row">
				<img src="../assets/img/cow_logo.jpg" alt="logo-cow" class="col-md-1 col-md-offset-11">
			</div>
		</div>
	</nav>

	<div class="container">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist" id="myTabs">
				<li role="presentation" class="active"><a href="#empresas" aria-controls="empresas" role="tab" data-toggle="tab">Empresas</a></li>
				<li role="presentation"><a href="#clientes" aria-controls="clientes" role="tab" data-toggle="tab">Clientes</a></li>
				<li role="presentation"><a href="#espacios" aria-controls="espacios" role="tab" data-toggle="tab">Espacios</a></li>
			</ul>



			<!-- Tab panes -->
			<section class="tab-content">

				<!-- Empieza seccion empresa **Karla**  -->
				<section role="tabpanel" class="tab-pane fabe in active" id="empresas">
					<section class="container">
						<div class="row marging-vw-uno-search-top marging-vw-uno-search-bottom">
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">E</span>
									<input type="text" class="form-control" placeholder="Buscar empresa" aria-label="Username" aria-describedby="basic-addon1">
								</div>
							</div>
							<div class="col-md-6 col-md-offset-2">
								<div class="col-md-6 col-md-offset-6">
									<button type="button" class="btn btn-danger col-md-2">
		                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="sizing-addon1"></span>
		                </button>
									<p class="col-md-10">Agregar nueva empresa</p>
								</div>
							</div>
						</div>
						<section id="contenedorEmpresas" class="container">

						</section>


						<!-- <div class="row row-margin-bottom">
							<div class="col-md-10 col-md-offset-1 no-padding lib-item" data-category="view">
								<div class="lib-panel">
									<div class="row box-shadow">
										<div class="col-md-3 marging-vw-uno-search-top-img">
											<img class="lib-img-show" src="https://dummyimage.com/200x200/000/fff">
										</div>
										<div class="col-md-8">
											<div class="lib-row lib-header">
												<h2>Nombre comercial</h2>
												<span>SKU:<span id="sku-empresa"></span> </span>
												<span><b>|</b></span>
												<span> No. de miembros:<span id="miembros-empresa"></span> </span>
												<span><b>|</b></span>
												<span> Renta:<span id="renta-empresa"></span> </span>
												<span> <b>|</b> </span>
												<span>  Piso:<span id="piso-empresa"></span> </span>
											</div>
											<div class="lib-row lib-desc">
												<span>Cliente:</span>
												<span id="cliente-empresa"></span>
											</div>
											<div class="lib-row lib-desc">
												<span>Mail to: </span>
												<span id="mail-empresa"></span>
											</div>
											<div class="lib-row lib-desc">
												<span>Call: </span>
												<span id="call-empresa"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> -->


					</section>
				</section>
				<!-- Termina seccion empresa **Karla**  -->

				<!-- EMPIEZA CODIGO DE MONSE -->
				<section role="tabpanel" class="tab-pane" id="clientes">
					<section class="container">
						<div class="row input-group">
							<span class="input-group-addon">Buscar</span>
							<input id="filtrar-clientes" type="text" class="form-control">
						</div>
					</section>
					&nbsp
					<section class="container">
						<div class="row">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Número</th>
										<th>Nombre</th>
										<th>Apellido</th>
										<th>Empresa</th>
										<th>Correo</th>
										<th>Tel Contacto</th>
										<th>Agregar</th>
									</tr>
								</thead>
								<tbody class="buscar">
									<tr>
										<th scope="row">1</th>
										<td>Gaby</td>
										<td>Rocha</td>
										<td>Laboratoria</td>
										<td>Gaby@laboratoria.la</td>
										<td>57492054</td>
										<td>
											<span>
												<input type="checkbox" aria-label="Checkbox for following text input">Newsletters &#160
											</span>
											<span>
												<input type="checkbox" aria-label="Checkbox for following text input">Mail
											</span>
										</td>
									</tr>
									<tr>
										<th scope="row">2</th>
										<td>Griss</td>
										<td>blabla</td>
										<td>Laboratoria</td>
										<td>Gaby@laboratoria.la</td>
										<td>57492054</td>
										<td>
											<input type="checkbox" aria-label="Checkbox for following text input">Newsletter &#160
											<input type="checkbox" aria-label="Checkbox for following text input">Mail
										</td>
									</tr>
									<tr>
										<th scope="row">3</th>
										<td>Gaby</td>
										<td>Rocha</td>
										<td>Laboratoria</td>
										<td>Gaby@laboratoria.la</td>
										<td>57492054</td>
										<td>
											<input type="checkbox" aria-label="Checkbox for following text input">Newsletter &#160
											<input type="checkbox" aria-label="Checkbox for following text input">Mail
										</td>
									</tr>
									<tr>
										<th scope="row">4</th>
										<td>Gaby</td>
										<td>Rocha</td>
										<td>Laboratoria</td>
										<td>Gaby@laboratoria.la</td>
										<td>57492054</td>
										<td><input type="checkbox" aria-label="Checkbox for following text input">Newsletter &#160<input type="checkbox" aria-label="Checkbox for following text input">Mail</td>
									</tr>
									<tr>
										<th scope="row">5</th>
										<td>Gaby</td>
										<td>Rocha</td>
										<td>Laboratoria</td>
										<td>Gaby@laboratoria.la</td>
										<td>57492054</td>
										<td><input type="checkbox" aria-label="Checkbox for following text input">Newsletter &#160<input type="checkbox" aria-label="Checkbox for following text input">Mail</td>
									</tr>
									<tr>
										<th scope="row">6</th>
										<td>Gaby</td>
										<td>Rocha</td>
										<td>Laboratoria</td>
										<td>Gaby@laboratoria.la</td>
										<td>57492054</td>
										<td><input type="checkbox" aria-label="Checkbox for following text input">Newsletter &#160<input type="checkbox" aria-label="Checkbox for following text input">Mail</td>
									</tr>
									<tr>
										<th scope="row">7</th>
										<td>Gaby</td>
										<td>Rocha</td>
										<td>Laboratoria</td>
										<td>Gaby@laboratoria.la</td>
										<td>57492054</td>
										<td><input type="checkbox" aria-label="Checkbox for following text input">Newsletter &#160<input type="checkbox" aria-label="Checkbox for following text input">Mail</td>
									</tr>
									<tr>
										<th scope="row">8</th>
										<td>Sr Prr</td>
										<td>pr pr</td>
										<td>Laboratoria</td>
										<td>Gaby@laboratoria.la</td>
										<td>57492054</td>
										<td><input type="checkbox" aria-label="Checkbox for following text input">Newsletter &#160<input type="checkbox" aria-label="Checkbox for following text input">Mail</td>
									</tr>
									<tr>
										<th scope="row">9</th>
										<td>Gaby</td>
										<td>Rocha</td>
										<td>Laboratoria</td>
										<td>Gaby@laboratoria.la</td>
										<td>57492054</td>
										<td><input type="checkbox" aria-label="Checkbox for following text input">Newsletter &#160<input type="checkbox" aria-label="Checkbox for following text input">Mail</td>
									</tr>
									<tr>
										<th scope="row">10</th>
										<td>Gaby</td>
										<td>Rocha</td>
										<td>Laboratoria</td>
										<td>Gaby@laboratoria.la</td>
										<td>57492054</td>
										<td><input type="checkbox" aria-label="Checkbox for following text input">Newsletter &#160<input type="checkbox" aria-label="Checkbox for following text input">Mail</td>
									</tr>
									<tr>
										<th scope="row">11</th>
										<td>Gaby</td>
										<td>Rocha</td>
										<td>Laboratoria</td>
										<td>Gaby@laboratoria.la</td>
										<td>57492054</td>
										<td><input type="checkbox" aria-label="Checkbox for following text input">Newsletter &#160<input type="checkbox" aria-label="Checkbox for following text input">Mail</td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>
				</section>
				<!-- TERMINA CODIGO DE MONSE -->

				<!-- EMPIEZA CODIGO DE GOCCHI -->
				<section role="tabpanel" class="container tab-pane" id="espacios">
					<div class="input-group">
						<span class="input-group-addon">Buscar</span>
						<input id="filtrar-espacios" type="text" class="form-control">
					</div>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>SKU</th>
								<th>Empresa</th>
								<th>Piso</th>
								<th>Oficina</th>
								<th>Precio</th>
								<th>Metraje</th>
								<th>Núm.Personas</th>
								<th>Estado</th>
							</tr>
						</thead>
						<tbody class="buscar">
							<tr>
								<th>0020</th>
								<th>Laboratoria</th>
								<th>2</th>
								<th>7</th>
								<th>$23,456</th>
								<th>34m</th>
								<th>23</th>
								<th>Rentado</th>
							</tr>
							<tr>
								<th>0020</th>
								<th>Laboratoria</th>
								<th>2</th>
								<th>7</th>
								<th>$23,456</th>
								<th>34m</th>
								<th>23</th>
								<th>Rentado</th>
							</tr>
							<tr>
								<th>0020</th>
								<th>Laboratoria</th>
								<th>2</th>
								<th>7</th>
								<th>$23,456</th>
								<th>34m</th>
								<th>23</th>
								<th>Rentado</th>
							</tr>
							<tr>
								<th>0020</th>
								<th>Laboratoria</th>
								<th>2</th>
								<th>7</th>
								<th>$23,456</th>
								<th>34m</th>
								<th>23</th>
								<th>Rentado</th>
							</tr>
							<tr>
								<th>0020</th>
								<th>Laboratoria</th>
								<th>2</th>
								<th>7</th>
								<th>$23,456</th>
								<th>34m</th>
								<th>23</th>
								<th>Rentado</th>
							</tr>
							<tr>
								<th>0020</th>
								<th>Laboratoria</th>
								<th>2</th>
								<th>7</th>
								<th>$23,456</th>
								<th>34m</th>
								<th>23</th>
								<th>Rentado</th>
							</tr>
							<tr>
								<th>0020</th>
								<th>Laboratoria</th>
								<th>2</th>
								<th>7</th>
								<th>$23,456</th>
								<th>34m</th>
								<th>23</th>
								<th>Rentado</th>
							</tr>
							<tr>
								<th>0020</th>
								<th>Laboratoria</th>
								<th>2</th>
								<th>7</th>
								<th>$23,456</th>
								<th>34m</th>
								<th>23</th>
								<th>Rentado</th>
							</tr>
							<tr>
								<th>0020</th>
								<th>Laboratoria</th>
								<th>2</th>
								<th>7</th>
								<th>$23,456</th>
								<th>34m</th>
								<th>23</th>
								<th>Rentado</th>
							</tr>
							<tr>
								<th>0010</th>
								<th>Laboratoria</th>
								<th>10</th>
								<th>2</th>
								<th>$28,796</th>
								<th>100m</th>
								<th>40</th>
								<th>Rentado</th>
							</tr>
						</tbody>
					</table>
				</section>
				<!-- EMPIEZA CODIGO DE GOCCHI -->

			</section>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../assets/js/app.js"></script>
</body>


</html>
